@model IEnumerable<courseProject.Models.User_Therapy>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Therapy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Full_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Therapy.Therapy_Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { UserId = item.UserId, TherapyId = item.TherapyId }) |
                @Html.ActionLink("Details", "Details", new { UserId = item.UserId, TherapyId = item.TherapyId }) |
                @Html.ActionLink("Delete", "Delete", new { UserId = item.UserId, TherapyId = item.TherapyId })
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
